<div id="stripe-card-data">
    <%= image_tag "#{order.stripe_card_brand.parameterize}.png" %>
    <ul>
        <li><b>Card Number</b>: **** **** **** <%= order.stripe_card_last4 %></li>
        <li><b>Expiry Date</b>: <%= order.stripe_card_expiry_date %></li>
    </ul>
</div>