<div id="stripe-card-data">
    <%= image_tag "#{order.default_card.brand.parameterize}.png" %>
    <p><li><b>Card Number</b>: **** **** **** <%= order.default_card.last4 %></li></p>
    <p><li><b>Expiry Date</b>: <%= order.default_card.exp_month %>/<%= order.default_card.exp_year %></li></p>
</div>